hr {
  border-color: #999;

  &.dotted {
    border-style: dotted;
  }
  // &.dotted
}
// hr

.container {
  max-width: 1170px;
}
// .container

#login-form {
  width: 450px;
  margin: 0 auto;
}
// #login-form

.content-container-inner {
  padding: 25px 0;
}
// .content-container-inner

.margin-bottom-20 {
  margin-bottom: 20px;
}
// .margin-bottom-20

.margin-bottom-30 {
  margin-bottom: 30px;
}
// .margin-bottom-30

.margin-bottom-none {
  margin-bottom: 0px !important;
}
// .margin-bottom-none

.padding-left-15 {
  padding-left: 15px;
}
// .padding-left-15

.blog-main {
  font-size: inherit;
}
// .blog-main

.blog-post {
  margin-bottom: 0;
}
// .blog-post

table {
  &.dataTable {
    thead {
      tr {
        td {
          cursor: pointer;
        }
        // td
      }
      // tr
    }
    // thead
  }
  // &.dataTable
}
// table

@media(max-width: 767px) {
  body {
    text-align: center;

    .blog-masthead {
      .container {
        .blog-nav {
          text-align: left;
        }
        // .blog-nav
      }
      // .container
    }
    // .blog-masthead
  }
  // body
}
// @media(max-width: 767px)